html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: 
    linear-gradient(rgba(255,182,193,0.5)
    , rgba(255,182,193,0.5)), url('img/fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #d1479c;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #128C4A;
}

ol {
    margin-top: 20px;
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
}